<br><br><br><br><br>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <h3 style="padding-left: 10px;">Get answers and advices from Professional Consultants.</h3><br>
        <div class="direct-number">
            <div class="row" style="padding-left: 10px;">
                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-12">
                    <h5> Direct line numbers </h5>
                    <p>+91 00000 00000</p>
                </div>
            </div>
        </div>
        <div class="direct-number">
            <div class="row" style="padding-left: 10px;">
                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-12">
                    <h5> Our Locations </h5>
                    <p>D-401, Dharti Saket Heights, near UNIQUE AASHIYANA, Gota, Ahmedabad, Gujarat 382481</p>
                </div>
            </div>
        </div>
        <div class="direct-number">
            <div class="row" style="padding-left: 10px;">
                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-12">
                    <h5> Our Email </h5>
                    <p>nexttechnolabs@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="quickinquiry">
        <div class="contact-form-home" id="home-form">
            <h4>Let's talk about your Business.</h4>
            <form id="sendForm" method="post" autocomplete="off" novalidate="novalidate">
                <div class="row">


                    <div class="col-lg-12 col-sm-12">
                        <div class="form-group">
                            <input type="text" class="form-control" value="" id="Name" name="Name"
                                placeholder="Enter Name">
                        </div>
                    </div>

                    <div class="col-lg-12 col-sm-12">
                        <div class="form-group">
                            <input type="email" class="form-control" value="" id="Email" name="Email"
                                placeholder="Enter Email">
                        </div>
                    </div>

                    <div class="col-lg-12 col-sm-12">
                        <div class="form-group">
                            <input type="text" class="form-control" value="" id="Mobile" name="Mobile"
                                placeholder="Enter Mobile Number" onkeyup="Validate(this)">
                        </div>
                    </div>

                    <div class="col-lg-12 col-sm-12">
                        <div class="form-group">
                            <input type="text" class="form-control" value="" id="Subject" name="Subject"
                                placeholder="Enter Subject">
                        </div>
                    </div>

                    <div class="col-lg-12 col-sm-12">
                        <div class="form-group">
                            <textarea type="text" class="form-control" id="Message" name="Message"
                                placeholder="Write Message" rows="3"></textarea>
                        </div>
                    </div>

                    <div class="col-lg-12 col-sm-12">
                        <div class="form-group">
                            <div class="g-recaptcha" data-sitekey="6Le-1P4iAAAAADSfgW8bemIuS09zCV6_RzE4Fz0C">
                                <div style="width: 304px; height: 78px;">
                                    <div><iframe title="reCAPTCHA"
                                            src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6Le-1P4iAAAAADSfgW8bemIuS09zCV6_RzE4Fz0C&amp;co=aHR0cHM6Ly9ha2FzaHRlY2hub2xhYnMuY29tOjQ0Mw..&amp;hl=en&amp;v=jF-AgDWy8ih0GfLx4Semh9UK&amp;size=normal&amp;cb=xqcpbferdwqp"
                                            width="304" height="78" role="presentation" name="a-59dwua5zffdx"
                                            frameborder="0" scrolling="no"
                                            sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe>
                                    </div><textarea id="g-recaptcha-response" name="g-recaptcha-response"
                                        class="g-recaptcha-response"
                                        style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea>
                                </div><iframe style="display: none;"></iframe>
                            </div>
                            <div id="error-captcha" style="color:red;"></div>
                        </div>
                    </div>


                </div>


                <button class="btn btn-primary" name="submit" type="submit">Send Message &nbsp;<i
                        class="fa fa-paper-plane" aria-hidden="true"></i></button>
            </form>
        </div>
    </div>
</div>