<br><br><br>
<section class="hire-vemployee-section">
  <div class="pl-2">
    <h2 class="home-heading">Hire Top Developers <span>For Any Technology</span></h2>
    <p>Get an expert for extensive range of technologies</p><br>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="technology-section"><a href="Hiring"
            rel="noopener" linktext=".NET"><img src="../../assets/img/dot-net-icon.png" alt="Icons" loading="lazy">
            <p>.Net</p>
          </a></div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="technology-section"><a href="Hiring"
            rel="noopener" linktext="PHP"><img src="../../assets/img/php-icon-11.png" alt="Icons"
              loading="lazy">
            <p>PHP</p>
          </a></div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="technology-section"><a href="Hiring" rel="noopener"
            linktext="QUALITY TESTING"><img src="../../assets/img/quality-testing-icon.png" alt="Icons"
              loading="lazy">
            <p>Quality Testing</p>
          </a></div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="technology-section"><a href="Hiring"
            rel="noopener" linktext="FRONT-END"><img src="../../assets/img/front-end-icon.png"
              alt="Icons" loading="lazy">
            <p>Front-End</p>
          </a></div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="technology-section"><a href="Hiring"
            rel="noopener" linktext="BACK-END"><img src="../../assets/img/backend-icon.png" alt="Icons"
              loading="lazy">
            <p>Back-End</p>
          </a></div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="technology-section"><a href="Hiring" rel="noopener"
            linktext="MOBILE APP DEVELOPMENT"><img src="../../assets/img/mobile-application-icon.png"
              alt="Icons" loading="lazy">
            <p>Mobile App Development</p>
          </a></div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="technology-section"><a href="Hiring"
            rel="noopener" linktext="DEVOPS"><img src="../../assets/img/devops-icon.png" alt="Icons"
              loading="lazy">
            <p>Devops</p>
          </a></div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="technology-section"><a href="Hiring"
            rel="noopener" linktext="POWER BI"><img src="../../assets/img/power-bi-icon.png"
              alt="Icons" loading="lazy">
            <p>Power BI</p>
          </a></div>
      </div>
    </div><br>
    <div class="text-center"><a href="Hiring"><button
          class="btn btn-primary">Browse More Technologies</button></a></div>
  </div>
</section>