<br><br><br><section id="feature-center" class="feature-center">
  <div class="pl-2">
      <div class="row">
          <div class="col-md-12 heading" style="text-align: center">
              <span class="title-icon pull-left"><i class="fa fa-cogs"></i></span>
              <h2 class="title">Service We Provide <span class="title-desc">A Quality Experience Team with 11+ years experience</span></h2>
          </div>
      </div><!-- Title row end --><br><br>
      <div class="row">
          <div class="col-md-3 col-sm-3 wow fadeInDown animated" data-wow-delay="0.5s" style="visibility: visible;-webkit-animation-delay: 0.5s; -moz-animation-delay: 0.5s; animation-delay: 0.5s;">
              <div class="feature-center-content text-center">
                  <img src="../../assets/img/web-development.png" width="64" alt="">
                  <h3>Web development</h3>
                  <p>We develop next gen website for you. Our programmers protect your website with new age securities.</p>
              </div>
          </div><!--/ End first features -->

          <div class="col-md-3 col-sm-3 wow fadeInDown animated" data-wow-delay="0.6s" style="visibility: visible;-webkit-animation-delay: 0.6s; -moz-animation-delay: 0.6s; animation-delay: 0.6s;">
              <div class="feature-center-content text-center">
                  <img src="../../assets/img/mobile-development.png" width="64" alt="">
                  <h3>Mobile Development</h3>
                  <p>Applications make which is out of the box thinking. We develops Applications in Android, IOS as well as cross platform Mobile Technologies.</p>
              </div>
          </div><!--/ End 5th features -->

          <div class="col-md-3 col-sm-3 wow fadeInDown animated" data-wow-delay="0.7s" style="visibility: visible;-webkit-animation-delay: 0.7s; -moz-animation-delay: 0.7s; animation-delay: 0.7s;">
              <div class="feature-center-content text-center">
                  <img src="../../assets/img/e-commerce-service.png" width="64" alt="">
                  <h3>E-Commerce Development</h3>
                  <p>As a leading web development company, we provide a strong and secure e-commerce website to our clients.</p>
              </div>	
          </div><!--/ End Second features -->

          <div class="col-md-3 col-sm-3 wow fadeInDown animated" data-wow-delay="0.8s" style="visibility: visible;-webkit-animation-delay: 0.8s; -moz-animation-delay: 0.8s; animation-delay: 0.8s;">
              <div class="feature-center-content text-center">
                  <img src="../../assets/img/custom-service.png" width="64" alt="">
                  <h3>Custom Development</h3>
                  <p>We provides custom software development for every type of business according to their needs.</p>
              </div>
          </div><!--/ End Third features -->

      </div><!--/ 1st row end -->

      <div class="gap-40"></div>
      <br>
      <div class="row">
          <div class="col-md-3 col-sm-3 wow fadeInDown animated" data-wow-delay="0.5s" style="visibility: visible;-webkit-animation-delay: 0.5s; -moz-animation-delay: 0.5s; animation-delay: 0.5s;">
              <div class="feature-center-content text-center">
                  <img src="../../assets/img/erp-portal-service.png" width="64" alt="">
                  <h3>ERP Software</h3>
                  <p>We provide a complete business driven ERP solutions. Team of expert developers gives you a perfect ERP product suitable to your business.</p>
              </div>
          </div><!--/ End 4th features -->

          <div class="col-md-3 col-sm-3 wow fadeInDown animated" data-wow-delay="0.6s" style="visibility: visible;-webkit-animation-delay: 0.6s; -moz-animation-delay: 0.6s; animation-delay: 0.6s;">
              <div class="feature-center-content text-center">
                  <img src="../../assets/img/digital-marketing-service.png" width="64" alt="">
                  <h3>SEO &amp; Digital Marketing</h3>
                  <p>Boosting your business on various digital platforms with perfect marketing and planning strategy is our first goal.</p>
              </div>
          </div><!--/ End 7th features -->

          <div class="col-md-3 col-sm-3 wow fadeInDown animated" data-wow-delay="0.7s" style="visibility: visible;-webkit-animation-delay: 0.7s; -moz-animation-delay: 0.7s; animation-delay: 0.7s;">
              <div class="feature-center-content text-center">
                  <img src="../../assets/img/graphic-design-service.png" width="64" alt="">
                  <h3>Graphic Design</h3>
                  <p>Our strong team of designers gives you creative and innovative design ideas and solution.</p>
              </div>
          </div><!--/ End 8th features -->

          <div class="col-md-3 col-sm-3 wow fadeInDown animated" data-wow-delay="0.8s" style="visibility: visible;-webkit-animation-delay: 0.8s; -moz-animation-delay: 0.8s; animation-delay: 0.8s;">
              <div class="feature-center-content text-center">
                  <img src="../../assets/img/website-maintanance.png" width="64" alt="">
                  <h3>Website Maintenance</h3>
                  <p>We offers affordable website and mobile app maintenance services specifically designed to reduce your cost and enhance performance. </p>
              </div>
          </div><!--/ End 6th features -->


      </div><!--/ 2nd row end -->
  </div><!--/ Container end -->
</section>