<br><br><br>
<img class="mt-0" src="../../assets/img/Star_IT_Solutions_Banner1-1600x580.jpg"><br><br>
<h2 style="text-align: center; margin-bottom: 3px; margin-top: 3px;">ABOUT <span
        style="color: #dd3333; font-weight: bold;">Next Technolabs</span></h2>

<p style="width: 700px; margin: 0 auto; text-align: justify;">Next Technolabs is dedicated to delivering technology
    solutions that solve problems and move business forward.<br>
    At Star IT Solutions, we create a strategic partnership through our desire to learn our clients’ business processes,
    how they make money, and how they utilize their IT environment to maximize their efficiencies…<br>
    Star IT Solutions’ local team of IT experts ensure the highest level of service delivery through customized
    solutions designed to fill the gap of IT skills and coverage required to keep up with the increasingly complex
    technologies required to run today’s business.<br>
    Great solutions come from good listening. It’s a developed skill. We’re that partner that can hear what you’re
    saying, understand your needs and arrive at creative, highly customized solutions.</p>
    <br><br>
<section class="ts_counter no-padding">
    <div class="container-fluid">
        <div class="row facts-wrapper wow fadeInLeft text-center animated" style="visibility: visible;">
            <div class="facts one col-md-3 col-sm-6">
                <span class="facts-icon"><i class="fa fa-smile-o"></i></span>
                <div class="facts-num">
                    <span class="counter">180</span>
                </div>
                <h3>Happy Clients</h3>
            </div>

            <div class="facts three col-md-3 col-sm-6">
                <span class="facts-icon"><i class="fa fa-suitcase"></i></span>
                <div class="facts-num">
                    <span class="counter">229</span>
                </div>
                <h3>Projects Completed</h3>
            </div>

            <div class="facts two col-md-3 col-sm-6">
                <span class="facts-icon"><i class="fa fa-users"></i></span>
                <div class="facts-num">
                    <span class="counter">115</span>
                </div>
                <h3>Team Members</h3>
            </div>


            <div class="facts four col-md-3 col-sm-6">
                <span class="facts-icon"><i class="fa fa-trophy"></i></span>
                <div class="facts-num">
                    <span class="counter">11</span>
                </div>
                <h3>Year Of Experience</h3>
            </div>

        </div>
    </div>
    <!--/ Container end -->
</section>